{% extends "base.html" %}
{% load static %}

{% block title %}{{ post.location }}. {{ post.date }}{% endblock %}

{% block content %}
<div class="container py-5">
  <article>
    <ul class="list-unstyled">
      <li>
        <strong>Место:</strong> {{ post.location }}
      </li>
      <li>
        <strong>Дата:</strong> {{ post.date }}
      </li>
      <li>
        <strong>Категория:</strong> 
        <a href="{% url 'blog:category' post.category %}">{{ post.category }}</a>
      </li>
    </ul>
    <p class="lead">
      {{ post.text|linebreaks }}
    </p>
    <a href="{% url 'blog:index' %}" class="btn btn-primary">
      ← Вернуться к ленте записей
    </a>
  </article>
</div>
{% endblock %}