{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Blogicum{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'blog:index' %}">Главная</a>
            <a href="{% url 'pages:about' %}">О проекте</a>
            <a href="{% url 'pages:rules' %}">Наши правила</a>
        </nav>
    </header>
    
    <main>
        {% block content %}
        <!-- контент других шаблонов -->
        {% endblock %}
    </main>
    
    <footer>
        <p>© Блогикум</p>
    </footer>
</body>
</html>